.scene-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: hsl(0, 0%, 10%);
}

.scene-container canvas {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/*Someone fix this please */
.earth-map {
  width: 518vw;
  height: 518vh;
  max-width: 1200px;
  max-height: 800px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
